node_modules/
apps/game-server/dist/
artifacts/
apps/backend/.data/
apps/backend/dist/
apps/admin/dist/
.env
.env.*
!.env.example
/temp/
.cache/
apps/game-client/build/
apps/game-client/temp/
apps/game-client/library/
apps/game-client/local/
